body {
  font-family: sans-serif;
}

.container {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.result {
  text-align: center;
  color: green;
}